{% extends "base.html" %} {% load static wagtailcore_tags wagtailimages_tags component_tags %} {%
block extra_css %}
<link rel="stylesheet" href="{% static 'css/theme.css' %}" />
<link rel="stylesheet" href="{% static 'css/dertown.css' %}" />
<link rel="stylesheet" href="{% static 'events/css/events.css' %}" />
<link rel="stylesheet" href="{% static 'events/css/event_card.css' %}" />
{% endblock %} {% block content %}
<div class="max-w-4xl mx-auto">
  <div class="d-flex align-items-end flex-wrap mb-6 w-100">
    <h1 class="text-3xl font-bold mb-0 ps-1">Events</h1>
    <div class="d-flex flex-wrap gap-1 mb-2 mb-md-0 flex-grow-1 justify-content-end">
      <a
        href="."
        class="event-tag{% if not request.GET.type %} active{% endif %}"
        data-event-type="all"
        style="text-decoration: none"
        >All Events</a
      >
      {% for tag in all_tags %}
      <a
        href="?type={{ tag.name|urlencode }}"
        class="event-tag{% if request.GET.type == tag.name %} active{% endif %}"
        data-event-type="{{ tag.name|lower }}"
        style="text-decoration: none"
      >
        {{ tag.name }}
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="event-list-cards d-flex flex-column gap-4">
    {% for event in events %} {% if not request.GET.type or event.primary_tag.name ==
    request.GET.type %} {% component "event_list_card" event=event request=request %}{% endcomponent
    %} {% endif %} {% empty %}
    <p class="text-gray-600">No events found.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
