anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.13.4
brotli==1.1.0
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
defusedxml==0.7.1
dj-database-url==2.3.0
django==5.1.9
django-components==0.139.1
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-recaptcha==4.1.0
django-stubs-ext==5.2.0
django-taggit==6.1.0
django-tasks==0.6.1
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
djc-core-html-parser==1.0.2
dotenv==0.9.9
draftjs-exporter==5.1.0
et-xmlfile==2.0.0
filetype==1.2.0
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
googleapis-common-protos==1.70.0
gunicorn==23.0.0
httplib2==0.22.0
icalendar==5.0.11
idna==3.10
laces==0.1.2
openpyxl==3.1.5
packaging==25.0
pillow==11.2.1
pillow-heif==0.21.0
proto-plus==1.26.1
protobuf==6.30.2
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyparsing==3.2.3
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
rsa==4.9.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
telepath==0.3.1
typing-extensions==4.13.2
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.34.0
wagtail==6.4.1
whitenoise==6.9.0
willow==1.10.0
