---
export interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`relative ${className}`}>
  <a 
    href="/calendar-subscribe"
    class="p-2 text-gray-600 hover:text-gray-300 bg-transparent focus:outline-none group relative inline-flex items-center justify-center"
    aria-label="Subscribe to calendar">
    <!-- Calendar icon with plus -->
    <span class="material-symbols-outlined text-2xl">event_available</span>
    <span class="tooltip right-full">
      Subscribe to calendar
    </span>
  </a>
</div> 